USE [STARS];
DELETE FROM [dbo].[NavisionAccountMapping_Old];
ALTER TABLE [dbo].[NavisionAccountMapping_Old] ALTER COLUMN [NavisionAccountNumber] VARCHAR(20);
INSERT INTO [dbo].[NavisionAccountMapping_Old] SELECT * FROM [dbo].[NavisionAccountMapping];
UPDATE [dbo].[NavisionAccountMapping] SET [NavisionAccountNumber] = '24505100' WHERE [NavisionAccountNumber] = '2515292010';
UPDATE [dbo].[NavisionAccountMapping] SET [NavisionAccountNumber] = '24505100' WHERE [NavisionAccountNumber] = '2515292020';
UPDATE [dbo].[NavisionAccountMapping] SET [NavisionAccountNumber] = '24505150' WHERE [NavisionAccountNumber] = '2535292010';
UPDATE [dbo].[NavisionAccountMapping] SET [NavisionAccountNumber] = '24505150' WHERE [NavisionAccountNumber] = '2535292020';
UPDATE [dbo].[NavisionAccountMapping] SET [NavisionAccountNumber] = '24505250' WHERE [NavisionAccountNumber] = '2545292010';
UPDATE [dbo].[NavisionAccountMapping] SET [NavisionAccountNumber] = '24505250' WHERE [NavisionAccountNumber] = '2545292020';
UPDATE [dbo].[NavisionAccountMapping] SET [NavisionAccountNumber] = '20205100' WHERE [NavisionAccountNumber] = '2405200000';
UPDATE [dbo].[NavisionAccountMapping] SET [NavisionAccountNumber] = '20205100' WHERE [NavisionAccountNumber] = '2405290000';
UPDATE [dbo].[NavisionAccountMapping] SET [NavisionAccountNumber] = '20103100' WHERE [NavisionAccountNumber] = '2403200000';
UPDATE [dbo].[NavisionAccountMapping] SET [NavisionAccountNumber] = '86001000' WHERE [NavisionAccountNumber] = '8157000000';
UPDATE [dbo].[NavisionAccountMapping] SET [NavisionAccountNumber] = '54005425' WHERE [NavisionAccountNumber] = '5025292035';
UPDATE [dbo].[NavisionAccountMapping] SET [NavisionAccountNumber] = '54005400' WHERE [NavisionAccountNumber] = '5015292035';
UPDATE [dbo].[NavisionAccountMapping] SET [NavisionAccountNumber] = '27900475' WHERE [NavisionAccountNumber] = '2513250000';
UPDATE [dbo].[NavisionAccountMapping] SET [NavisionAccountNumber] = '45500200' WHERE [NavisionAccountNumber] = '4513250000';
UPDATE [dbo].[NavisionAccountMapping] SET [NavisionAccountNumber] = '22003150' WHERE [NavisionAccountNumber] = '2533200043';
UPDATE [dbo].[NavisionAccountMapping] SET [NavisionAccountNumber] = '22003100' WHERE [NavisionAccountNumber] = '2513200043';
UPDATE [dbo].[NavisionAccountMapping] SET [NavisionAccountNumber] = '21001100' WHERE [NavisionAccountNumber] = '2511100000';
UPDATE [dbo].[NavisionAccountMapping] SET [NavisionAccountNumber] = '21001100' WHERE [NavisionAccountNumber] = '2511200000';
UPDATE [dbo].[NavisionAccountMapping] SET [NavisionAccountNumber] = '21001100' WHERE [NavisionAccountNumber] = '2511210000';
UPDATE [dbo].[NavisionAccountMapping] SET [NavisionAccountNumber] = '21001100' WHERE [NavisionAccountNumber] = '2511220000';
UPDATE [dbo].[NavisionAccountMapping] SET [NavisionAccountNumber] = '21001100' WHERE [NavisionAccountNumber] = '2511230000';
UPDATE [dbo].[NavisionAccountMapping] SET [NavisionAccountNumber] = '21001100' WHERE [NavisionAccountNumber] = '2511240000';
UPDATE [dbo].[NavisionAccountMapping] SET [NavisionAccountNumber] = '22003100' WHERE [NavisionAccountNumber] = '2513100000';
UPDATE [dbo].[NavisionAccountMapping] SET [NavisionAccountNumber] = '22003100' WHERE [NavisionAccountNumber] = '2513200000';
UPDATE [dbo].[NavisionAccountMapping] SET [NavisionAccountNumber] = '22003100' WHERE [NavisionAccountNumber] = '2513210000';
UPDATE [dbo].[NavisionAccountMapping] SET [NavisionAccountNumber] = '24005100' WHERE [NavisionAccountNumber] = '2515100000';
UPDATE [dbo].[NavisionAccountMapping] SET [NavisionAccountNumber] = '24005100' WHERE [NavisionAccountNumber] = '2515200000';
UPDATE [dbo].[NavisionAccountMapping] SET [NavisionAccountNumber] = '24005100' WHERE [NavisionAccountNumber] = '2515230000';
UPDATE [dbo].[NavisionAccountMapping] SET [NavisionAccountNumber] = '24005100' WHERE [NavisionAccountNumber] = '2515240000';
UPDATE [dbo].[NavisionAccountMapping] SET [NavisionAccountNumber] = '21001200' WHERE [NavisionAccountNumber] = '2521100000';
UPDATE [dbo].[NavisionAccountMapping] SET [NavisionAccountNumber] = '21001200' WHERE [NavisionAccountNumber] = '2521200000';
UPDATE [dbo].[NavisionAccountMapping] SET [NavisionAccountNumber] = '21001200' WHERE [NavisionAccountNumber] = '2521240000';
UPDATE [dbo].[NavisionAccountMapping] SET [NavisionAccountNumber] = '22003200' WHERE [NavisionAccountNumber] = '2523100000';
UPDATE [dbo].[NavisionAccountMapping] SET [NavisionAccountNumber] = '22003200' WHERE [NavisionAccountNumber] = '2523200000';
UPDATE [dbo].[NavisionAccountMapping] SET [NavisionAccountNumber] = '24005200' WHERE [NavisionAccountNumber] = '2525100000';
UPDATE [dbo].[NavisionAccountMapping] SET [NavisionAccountNumber] = '24005200' WHERE [NavisionAccountNumber] = '2525200000';
UPDATE [dbo].[NavisionAccountMapping] SET [NavisionAccountNumber] = '51001400' WHERE [NavisionAccountNumber] = '5011100000';
UPDATE [dbo].[NavisionAccountMapping] SET [NavisionAccountNumber] = '51001400' WHERE [NavisionAccountNumber] = '5011200000';
UPDATE [dbo].[NavisionAccountMapping] SET [NavisionAccountNumber] = '51001400' WHERE [NavisionAccountNumber] = '5011230000';
UPDATE [dbo].[NavisionAccountMapping] SET [NavisionAccountNumber] = '51001400' WHERE [NavisionAccountNumber] = '5011240000';
UPDATE [dbo].[NavisionAccountMapping] SET [NavisionAccountNumber] = '52003400' WHERE [NavisionAccountNumber] = '5013100000';
UPDATE [dbo].[NavisionAccountMapping] SET [NavisionAccountNumber] = '52003400' WHERE [NavisionAccountNumber] = '5013200000';
UPDATE [dbo].[NavisionAccountMapping] SET [NavisionAccountNumber] = '52003400' WHERE [NavisionAccountNumber] = '5013230000';
UPDATE [dbo].[NavisionAccountMapping] SET [NavisionAccountNumber] = '52503400' WHERE [NavisionAccountNumber] = '5013240000';
UPDATE [dbo].[NavisionAccountMapping] SET [NavisionAccountNumber] = '54005400' WHERE [NavisionAccountNumber] = '5015100000';
UPDATE [dbo].[NavisionAccountMapping] SET [NavisionAccountNumber] = '54005400' WHERE [NavisionAccountNumber] = '5015200000';
UPDATE [dbo].[NavisionAccountMapping] SET [NavisionAccountNumber] = '51001425' WHERE [NavisionAccountNumber] = '5021100000';
UPDATE [dbo].[NavisionAccountMapping] SET [NavisionAccountNumber] = '51001425' WHERE [NavisionAccountNumber] = '5021200000';
UPDATE [dbo].[NavisionAccountMapping] SET [NavisionAccountNumber] = '51001425' WHERE [NavisionAccountNumber] = '5021210000';
UPDATE [dbo].[NavisionAccountMapping] SET [NavisionAccountNumber] = '51001425' WHERE [NavisionAccountNumber] = '5021240000';
UPDATE [dbo].[NavisionAccountMapping] SET [NavisionAccountNumber] = '52003425' WHERE [NavisionAccountNumber] = '5023100000';
UPDATE [dbo].[NavisionAccountMapping] SET [NavisionAccountNumber] = '52003425' WHERE [NavisionAccountNumber] = '5023200000';
UPDATE [dbo].[NavisionAccountMapping] SET [NavisionAccountNumber] = '52003425' WHERE [NavisionAccountNumber] = '5023210000';
UPDATE [dbo].[NavisionAccountMapping] SET [NavisionAccountNumber] = '52503425' WHERE [NavisionAccountNumber] = '5023240000';
UPDATE [dbo].[NavisionAccountMapping] SET [NavisionAccountNumber] = '54005425' WHERE [NavisionAccountNumber] = '5025100000';
UPDATE [dbo].[NavisionAccountMapping] SET [NavisionAccountNumber] = '54005425' WHERE [NavisionAccountNumber] = '5025200000';
UPDATE [dbo].[NavisionAccountMapping] SET [NavisionAccountNumber] = '51001425' WHERE [NavisionAccountNumber] = '5031100000';
UPDATE [dbo].[NavisionAccountMapping] SET [NavisionAccountNumber] = '51001425' WHERE [NavisionAccountNumber] = '5031200000';
UPDATE [dbo].[NavisionAccountMapping] SET [NavisionAccountNumber] = '52003425' WHERE [NavisionAccountNumber] = '5033100000';
UPDATE [dbo].[NavisionAccountMapping] SET [NavisionAccountNumber] = '52003425' WHERE [NavisionAccountNumber] = '5033200000';
UPDATE [dbo].[NavisionAccountMapping] SET [NavisionAccountNumber] = '54005425' WHERE [NavisionAccountNumber] = '5035100000';
UPDATE [dbo].[NavisionAccountMapping] SET [NavisionAccountNumber] = '54005425' WHERE [NavisionAccountNumber] = '5035200000';
UPDATE [dbo].[NavisionAccountMapping] SET [NavisionAccountNumber] = '22503100' WHERE [NavisionAccountNumber] = '2513240000';
UPDATE [dbo].[NavisionAccountMapping] SET [NavisionAccountNumber] = '22503200' WHERE [NavisionAccountNumber] = '2523240000';
UPDATE [dbo].[NavisionAccountMapping] SET [NavisionAccountNumber] = '40001050' WHERE [NavisionAccountNumber] = '4211100000';
UPDATE [dbo].[NavisionAccountMapping] SET [NavisionAccountNumber] = '40001050' WHERE [NavisionAccountNumber] = '4211200000';
UPDATE [dbo].[NavisionAccountMapping] SET [NavisionAccountNumber] = '40001050' WHERE [NavisionAccountNumber] = '4211240000';
UPDATE [dbo].[NavisionAccountMapping] SET [NavisionAccountNumber] = '41003050' WHERE [NavisionAccountNumber] = '4213100000';
UPDATE [dbo].[NavisionAccountMapping] SET [NavisionAccountNumber] = '41003050' WHERE [NavisionAccountNumber] = '4213200000';
UPDATE [dbo].[NavisionAccountMapping] SET [NavisionAccountNumber] = '41003050' WHERE [NavisionAccountNumber] = '4213240000';
UPDATE [dbo].[NavisionAccountMapping] SET [NavisionAccountNumber] = '42005050' WHERE [NavisionAccountNumber] = '4215100000';
UPDATE [dbo].[NavisionAccountMapping] SET [NavisionAccountNumber] = '42005050' WHERE [NavisionAccountNumber] = '4215200000';
UPDATE [dbo].[NavisionAccountMapping] SET [NavisionAccountNumber] = '20001100' WHERE [NavisionAccountNumber] = '2401200000';
UPDATE [dbo].[NavisionAccountMapping] SET [NavisionAccountNumber] = '22503150' WHERE [NavisionAccountNumber] = '2533240000';
UPDATE [dbo].[NavisionAccountMapping] SET [NavisionAccountNumber] = '21001150' WHERE [NavisionAccountNumber] = '2531200000';
UPDATE [dbo].[NavisionAccountMapping] SET [NavisionAccountNumber] = '22003150' WHERE [NavisionAccountNumber] = '2533200000';
UPDATE [dbo].[NavisionAccountMapping] SET [NavisionAccountNumber] = '24005150' WHERE [NavisionAccountNumber] = '2535200000';
UPDATE [dbo].[NavisionAccountMapping] SET [NavisionAccountNumber] = '21001250' WHERE [NavisionAccountNumber] = '2541200000';
UPDATE [dbo].[NavisionAccountMapping] SET [NavisionAccountNumber] = '22003250' WHERE [NavisionAccountNumber] = '2543200000';
UPDATE [dbo].[NavisionAccountMapping] SET [NavisionAccountNumber] = '24005250' WHERE [NavisionAccountNumber] = '2545200000';
UPDATE [dbo].[NavisionAccountMapping] SET [NavisionAccountNumber] = '21001300' WHERE [NavisionAccountNumber] = '2551200000';
UPDATE [dbo].[NavisionAccountMapping] SET [NavisionAccountNumber] = '22003300' WHERE [NavisionAccountNumber] = '2553200000';
UPDATE [dbo].[NavisionAccountMapping] SET [NavisionAccountNumber] = '24505100' WHERE [NavisionAccountNumber] = '2515291010';
UPDATE [dbo].[NavisionAccountMapping] SET [NavisionAccountNumber] = '24505100' WHERE [NavisionAccountNumber] = '2515291020';
UPDATE [dbo].[NavisionAccountMapping] SET [NavisionAccountNumber] = '24505200' WHERE [NavisionAccountNumber] = '2525291010';
UPDATE [dbo].[NavisionAccountMapping] SET [NavisionAccountNumber] = '24505200' WHERE [NavisionAccountNumber] = '2525291020';
UPDATE [dbo].[NavisionAccountMapping] SET [NavisionAccountNumber] = '24505200' WHERE [NavisionAccountNumber] = '2525292010';
UPDATE [dbo].[NavisionAccountMapping] SET [NavisionAccountNumber] = '24505200' WHERE [NavisionAccountNumber] = '2525292020';
UPDATE [dbo].[NavisionAccountMapping] SET [NavisionAccountNumber] = '24505150' WHERE [NavisionAccountNumber] = '2535291010';
UPDATE [dbo].[NavisionAccountMapping] SET [NavisionAccountNumber] = '24505150' WHERE [NavisionAccountNumber] = '2535291020';
UPDATE [dbo].[NavisionAccountMapping] SET [NavisionAccountNumber] = '24505250' WHERE [NavisionAccountNumber] = '2545291010';
UPDATE [dbo].[NavisionAccountMapping] SET [NavisionAccountNumber] = '24505250' WHERE [NavisionAccountNumber] = '2545291020';