USE [STARS];

-- Delete duplicates

DELETE FROM [dbo].[NavisionAccountMapping] WHERE LEN([NavisionAccountNumber]) > 8;
DELETE FROM [dbo].[NavisionAccountMapping] WHERE [NavisionAccountNumber] = '20205100' AND [NavsisionAccountName] = 'Ceded Unearned Premium Prov';
DELETE FROM [dbo].[NavisionAccountMapping] WHERE [NavisionAccountNumber] = '21001100' AND [NavsisionAccountName] = 'Direct Case Manual';
DELETE FROM [dbo].[NavisionAccountMapping] WHERE [NavisionAccountNumber] = '21001100' AND [NavsisionAccountName] = 'Direct Case Adjustments';
DELETE FROM [dbo].[NavisionAccountMapping] WHERE [NavisionAccountNumber] = '21001100' AND [NavsisionAccountName] = 'Direct Case Novation Gross Up';
DELETE FROM [dbo].[NavisionAccountMapping] WHERE [NavisionAccountNumber] = '21001100' AND [NavsisionAccountName] = 'Direct Case Structured Settlements';
DELETE FROM [dbo].[NavisionAccountMapping] WHERE [NavisionAccountNumber] = '21001100' AND [NavsisionAccountName] = 'Direct Case Manual - Involuntary';
DELETE FROM [dbo].[NavisionAccountMapping] WHERE [NavisionAccountNumber] = '21001200' AND [NavsisionAccountName] = 'Direct Case Expense Manual';
DELETE FROM [dbo].[NavisionAccountMapping] WHERE [NavisionAccountNumber] = '21001200' AND [NavsisionAccountName] = 'Direct Case Expense Manual - Involuntary';
DELETE FROM [dbo].[NavisionAccountMapping] WHERE [NavisionAccountNumber] = '22003100' AND [NavsisionAccountName] = 'Assumed Case System';
DELETE FROM [dbo].[NavisionAccountMapping] WHERE [NavisionAccountNumber] = '22003100' AND [NavsisionAccountName] = 'Assumed Case Manual';
DELETE FROM [dbo].[NavisionAccountMapping] WHERE [NavisionAccountNumber] = '22003100' AND [NavsisionAccountName] = 'Assumed Case Adjustments';
DELETE FROM [dbo].[NavisionAccountMapping] WHERE [NavisionAccountNumber] = '22003150' AND [NavsisionAccountName] = 'Assumed IBNR Manual';
DELETE FROM [dbo].[NavisionAccountMapping] WHERE [NavisionAccountNumber] = '22003200' AND [NavsisionAccountName] = 'Assumed Case Exp Manual';
DELETE FROM [dbo].[NavisionAccountMapping] WHERE [NavisionAccountNumber] = '24005100' AND [NavsisionAccountName] = 'Ceded Case Manual';
DELETE FROM [dbo].[NavisionAccountMapping] WHERE [NavisionAccountNumber] = '24005100' AND [NavsisionAccountName] = 'Ceded Case Novation Gross Up';
DELETE FROM [dbo].[NavisionAccountMapping] WHERE [NavisionAccountNumber] = '24005100' AND [NavsisionAccountName] = 'Ceded Case Structured Settlements';
DELETE FROM [dbo].[NavisionAccountMapping] WHERE [NavisionAccountNumber] = '24005200' AND [NavsisionAccountName] = 'Ceded Case Exp Manual';
DELETE FROM [dbo].[NavisionAccountMapping] WHERE [NavisionAccountNumber] = '24505100' AND [NavsisionAccountName] = 'Rsv for Uncoll Reins Case Prov CY';
DELETE FROM [dbo].[NavisionAccountMapping] WHERE [NavisionAccountNumber] = '24505100' AND [NavsisionAccountName] = 'Rsv for Commtd Reins Case BOY';
DELETE FROM [dbo].[NavisionAccountMapping] WHERE [NavisionAccountNumber] = '24505100' AND [NavsisionAccountName] = 'Rsv for Commtd Reins Case CY';
DELETE FROM [dbo].[NavisionAccountMapping] WHERE [NavisionAccountNumber] = '24505150' AND [NavsisionAccountName] = 'Rsv for Uncoll Reins IBNR Prov CY';
DELETE FROM [dbo].[NavisionAccountMapping] WHERE [NavisionAccountNumber] = '24505150' AND [NavsisionAccountName] = 'Rsv for Commtd Reins IBNR BOY';
DELETE FROM [dbo].[NavisionAccountMapping] WHERE [NavisionAccountNumber] = '24505150' AND [NavsisionAccountName] = 'Rsv for Commtd Reins IBNR CY';
DELETE FROM [dbo].[NavisionAccountMapping] WHERE [NavisionAccountNumber] = '24505200' AND [NavsisionAccountName] = 'Rsv for Commtd Reins Case Exp CY';
DELETE FROM [dbo].[NavisionAccountMapping] WHERE [NavisionAccountNumber] = '24505200' AND [NavsisionAccountName] = 'Rsv for Uncoll Reins Case Exp Prov BOY';
DELETE FROM [dbo].[NavisionAccountMapping] WHERE [NavisionAccountNumber] = '24505200' AND [NavsisionAccountName] = 'Rsv for Uncoll Reins Case Exp Prov CY';
DELETE FROM [dbo].[NavisionAccountMapping] WHERE [NavisionAccountNumber] = '24505250' AND [NavsisionAccountName] = 'Rsv for Uncoll Reins IBNR Exp Prov CY';
DELETE FROM [dbo].[NavisionAccountMapping] WHERE [NavisionAccountNumber] = '24505250' AND [NavsisionAccountName] = 'Rsv for Commtd Reins IBNR Exp BOY';
DELETE FROM [dbo].[NavisionAccountMapping] WHERE [NavisionAccountNumber] = '24505250' AND [NavsisionAccountName] = 'Rsv for Commtd Reins IBNR Exp CY';
DELETE FROM [dbo].[NavisionAccountMapping] WHERE [NavisionAccountNumber] = '40001050' AND [NavsisionAccountName] = 'Direct Written Premium Manual';
DELETE FROM [dbo].[NavisionAccountMapping] WHERE [NavisionAccountNumber] = '40001050' AND [NavsisionAccountName] = 'Direct Written Premium Manual -  Involuntary';
DELETE FROM [dbo].[NavisionAccountMapping] WHERE [NavisionAccountNumber] = '41003050' AND [NavsisionAccountName] = 'Assumed Written Premium Manual';
DELETE FROM [dbo].[NavisionAccountMapping] WHERE [NavisionAccountNumber] = '41003050' AND [NavsisionAccountName] = 'Assumed Written Premium Manual -  Involuntary';
DELETE FROM [dbo].[NavisionAccountMapping] WHERE [NavisionAccountNumber] = '42005050' AND [NavsisionAccountName] = 'Ceded Written Premium Manual';
DELETE FROM [dbo].[NavisionAccountMapping] WHERE [NavisionAccountNumber] = '51001400' AND [NavsisionAccountName] = 'Direct Losses Paid Manual';
DELETE FROM [dbo].[NavisionAccountMapping] WHERE [NavisionAccountNumber] = '51001400' AND [NavsisionAccountName] = 'Direct Losses Paid Manual - Adjustments';
DELETE FROM [dbo].[NavisionAccountMapping] WHERE [NavisionAccountNumber] = '51001400' AND [NavsisionAccountName] = 'Direct Losses Paid Manual - Involuntary';
DELETE FROM [dbo].[NavisionAccountMapping] WHERE [NavisionAccountNumber] = '51001425' AND [NavsisionAccountName] = 'Direct Loss Exp Paid Manual';
DELETE FROM [dbo].[NavisionAccountMapping] WHERE [NavisionAccountNumber] = '51001425' AND [NavsisionAccountName] = 'Direct Loss Exp Paid Manual - Adjustments';
DELETE FROM [dbo].[NavisionAccountMapping] WHERE [NavisionAccountNumber] = '51001425' AND [NavsisionAccountName] = 'Direct Loss Exp Paid Manual - Involuntary';
DELETE FROM [dbo].[NavisionAccountMapping] WHERE [NavisionAccountNumber] = '51001425' AND [NavsisionAccountName] = 'Direct A&O Paid System';
DELETE FROM [dbo].[NavisionAccountMapping] WHERE [NavisionAccountNumber] = '51001425' AND [NavsisionAccountName] = 'Direct A&O Paid Manual';
DELETE FROM [dbo].[NavisionAccountMapping] WHERE [NavisionAccountNumber] = '52003400' AND [NavsisionAccountName] = 'Assumed Losses Paid Manual';
DELETE FROM [dbo].[NavisionAccountMapping] WHERE [NavisionAccountNumber] = '52003400' AND [NavsisionAccountName] = 'Assumed Losses Paid Manual - Adjustments';
DELETE FROM [dbo].[NavisionAccountMapping] WHERE [NavisionAccountNumber] = '52003425' AND [NavsisionAccountName] = 'Assumed Loss Exp Paid Manual';
DELETE FROM [dbo].[NavisionAccountMapping] WHERE [NavisionAccountNumber] = '52003425' AND [NavsisionAccountName] = 'Assumed Loss Exp Paid Manual - Adjustments';
DELETE FROM [dbo].[NavisionAccountMapping] WHERE [NavisionAccountNumber] = '52003425' AND [NavsisionAccountName] = 'Assumed A&O Paid System';
DELETE FROM [dbo].[NavisionAccountMapping] WHERE [NavisionAccountNumber] = '52003425' AND [NavsisionAccountName] = 'Assumed A&O Paid Manual';
DELETE FROM [dbo].[NavisionAccountMapping] WHERE [NavisionAccountNumber] = '54005400' AND [NavsisionAccountName] = 'Ceded Losses Paid System';
DELETE FROM [dbo].[NavisionAccountMapping] WHERE [NavisionAccountNumber] = '54005400' AND [NavsisionAccountName] = 'Ceded Losses Paid Manual';
DELETE FROM [dbo].[NavisionAccountMapping] WHERE [NavisionAccountNumber] = '54005425' AND [NavsisionAccountName] = 'Ceded Loss Exp Paid System';
DELETE TOP (1) FROM [dbo].[NavisionAccountMapping] WHERE [NavisionAccountNumber] = '54005425' AND [NavsisionAccountName] = 'Ceded Loss Exp Paid Manual';
DELETE FROM [dbo].[NavisionAccountMapping] WHERE [NavisionAccountNumber] = '54005425' AND [NavsisionAccountName] = 'Ceded A&O Paid System';
DELETE FROM [dbo].[NavisionAccountMapping] WHERE [NavisionAccountNumber] = '54005425' AND [NavsisionAccountName] = 'Ceded A&O Paid Manual';

--Update Names

UPDATE [dbo].[NavisionAccountMapping] SET [NavsisionAccountName] = 'Direct Unearned Premium - 3rd Party' WHERE [NavisionAccountNumber] = '20001100' AND [NavsisionAccountName] = 'Direct Unearned Premium - Manual';
UPDATE [dbo].[NavisionAccountMapping] SET [NavsisionAccountName] = 'Assumed Unearned Premium - 3rd Party' WHERE [NavisionAccountNumber] = '20103100' AND [NavsisionAccountName] = 'Assumed Unearned Premium - Manual';
UPDATE [dbo].[NavisionAccountMapping] SET [NavsisionAccountName] = 'Ceded Unearned Premium - 3rd Party' WHERE [NavisionAccountNumber] = '20205100' AND [NavsisionAccountName] = 'Ceded Unearned Premium - Manual';
UPDATE [dbo].[NavisionAccountMapping] SET [NavsisionAccountName] = 'Direct Case - Loss Reserves' WHERE [NavisionAccountNumber] = '21001100' AND [NavsisionAccountName] = 'Direct Case System';
UPDATE [dbo].[NavisionAccountMapping] SET [NavsisionAccountName] = 'Direct IBNR - Loss Reserves' WHERE [NavisionAccountNumber] = '21001150' AND [NavsisionAccountName] = 'Direct IBNR Manual';
UPDATE [dbo].[NavisionAccountMapping] SET [NavsisionAccountName] = 'Direct Case - ALAE Reserves' WHERE [NavisionAccountNumber] = '21001200' AND [NavsisionAccountName] = 'Direct Case Expense System';
UPDATE [dbo].[NavisionAccountMapping] SET [NavsisionAccountName] = 'Direct IBNR - ALAE Reserves' WHERE [NavisionAccountNumber] = '21001250' AND [NavsisionAccountName] = 'Direct IBNR Exp Manual';
UPDATE [dbo].[NavisionAccountMapping] SET [NavsisionAccountName] = 'Direct ULAE' WHERE [NavisionAccountNumber] = '21001300' AND [NavsisionAccountName] = 'Direct ULAE Manual';
UPDATE [dbo].[NavisionAccountMapping] SET [NavsisionAccountName] = 'Assumed Case - Loss Reserves - 3rd Party' WHERE [NavisionAccountNumber] = '22003100' AND [NavsisionAccountName] = 'Assumed Case – Acquisitions';
UPDATE [dbo].[NavisionAccountMapping] SET [NavsisionAccountName] = 'Assumed IBNR - Loss Reserves -3rd Party' WHERE [NavisionAccountNumber] = '22003150' AND [NavsisionAccountName] = 'Assumed IBNR - Acquisitions';
UPDATE [dbo].[NavisionAccountMapping] SET [NavsisionAccountName] = 'Assumed Case - ALAE Reserves - 3rd Party' WHERE [NavisionAccountNumber] = '22003200' AND [NavsisionAccountName] = 'Assumed Case Exp System';
UPDATE [dbo].[NavisionAccountMapping] SET [NavsisionAccountName] = 'Assumed IBNR - ALAE Reserves - 3rd Party' WHERE [NavisionAccountNumber] = '22003250' AND [NavsisionAccountName] = 'Assumed IBNR Exp Manual';
UPDATE [dbo].[NavisionAccountMapping] SET [NavsisionAccountName] = 'Assumed ULAE - 3rd Party' WHERE [NavisionAccountNumber] = '22003300' AND [NavsisionAccountName] = 'Assumed ULAE Manual';
UPDATE [dbo].[NavisionAccountMapping] SET [NavsisionAccountName] = 'Assumed Involuntary Case - Loss Reserves - 3rd Pty' WHERE [NavisionAccountNumber] = '22503100' AND [NavsisionAccountName] = 'Assumed Case Manual - Involuntary';
UPDATE [dbo].[NavisionAccountMapping] SET [NavsisionAccountName] = 'Assumed Involuntary IBNR - Loss Reserves - 3rd Pty' WHERE [NavisionAccountNumber] = '22503150' AND [NavsisionAccountName] = 'Assumed IBNR Manual - Involuntary';
UPDATE [dbo].[NavisionAccountMapping] SET [NavsisionAccountName] = 'Assumed Involuntary Case - ALAE Reserves- 3rd Pty' WHERE [NavisionAccountNumber] = '22503200' AND [NavsisionAccountName] = 'Assumed Case Exp Manual - Involuntary';
UPDATE [dbo].[NavisionAccountMapping] SET [NavsisionAccountName] = 'Ceded Case - Loss Reserves - 3rd Party' WHERE [NavisionAccountNumber] = '24005100' AND [NavsisionAccountName] = 'Ceded Case System';
UPDATE [dbo].[NavisionAccountMapping] SET [NavsisionAccountName] = 'Ceded IBNR - Loss Reserves - 3rd Party' WHERE [NavisionAccountNumber] = '24005150' AND [NavsisionAccountName] = 'Ceded IBNR Manual';
UPDATE [dbo].[NavisionAccountMapping] SET [NavsisionAccountName] = 'Ceded Case - ALAE Reserves- 3rd Party' WHERE [NavisionAccountNumber] = '24005200' AND [NavsisionAccountName] = 'Ceded Case Exp System';
UPDATE [dbo].[NavisionAccountMapping] SET [NavsisionAccountName] = 'Ceded IBNR - ALAE Reserves - 3rd Party' WHERE [NavisionAccountNumber] = '24005250' AND [NavsisionAccountName] = 'Ceded IBNR Exp Manual';
UPDATE [dbo].[NavisionAccountMapping] SET [NavsisionAccountName] = 'Ceded Case - Loss Uncollectible Reserves - 3rd Pty' WHERE [NavisionAccountNumber] = '24505100' AND [NavsisionAccountName] = 'Rsv for Uncoll Reins Case Prov BOY';
UPDATE [dbo].[NavisionAccountMapping] SET [NavsisionAccountName] = 'Ceded IBNR - Loss Uncollectible Reserves - 3rd Pty' WHERE [NavisionAccountNumber] = '24505150' AND [NavsisionAccountName] = 'Rsv for Uncoll Reins IBNR Prov BOY';
UPDATE [dbo].[NavisionAccountMapping] SET [NavsisionAccountName] = 'Ceded Case - ALAE Uncollectible Reserves - 3rd Pty' WHERE [NavisionAccountNumber] = '24505200' AND [NavsisionAccountName] = 'Rsv for Commtd Reins Case Exp BOY';
UPDATE [dbo].[NavisionAccountMapping] SET [NavsisionAccountName] = 'Ceded IBNR - ALAE Uncollectible Reserves - 3rd Pty' WHERE [NavisionAccountNumber] = '24505250' AND [NavsisionAccountName] = 'Rsv for Uncoll Reins IBNR Exp Prov BOY';
UPDATE [dbo].[NavisionAccountMapping] SET [NavsisionAccountName] = 'Retroactive Reinsurance' WHERE [NavisionAccountNumber] = '27900475' AND [NavsisionAccountName] = 'Assumed Case Manual - Retroactive Reins';
UPDATE [dbo].[NavisionAccountMapping] SET [NavsisionAccountName] = 'Direct Written Premium' WHERE [NavisionAccountNumber] = '40001050' AND [NavsisionAccountName] = 'Direct Written Premium System';
UPDATE [dbo].[NavisionAccountMapping] SET [NavsisionAccountName] = 'Assumed Written Premium - 3rd Party' WHERE [NavisionAccountNumber] = '41003050' AND [NavsisionAccountName] = 'Assumed Written Premium System';
UPDATE [dbo].[NavisionAccountMapping] SET [NavsisionAccountName] = 'Ceded Written Premium - 3rd Party' WHERE [NavisionAccountNumber] = '42005050' AND [NavsisionAccountName] = 'Ceded Written Premium System';
UPDATE [dbo].[NavisionAccountMapping] SET [NavsisionAccountName] = 'Gain / Loss on Retroactive Reinsurance' WHERE [NavisionAccountNumber] = '45500200' AND [NavsisionAccountName] = 'Chg in Assumed Case Manual - Retroactive Reins';
UPDATE [dbo].[NavisionAccountMapping] SET [NavsisionAccountName] = 'Direct Paid Losses' WHERE [NavisionAccountNumber] = '51001400' AND [NavsisionAccountName] = 'Direct Losses Paid System';
UPDATE [dbo].[NavisionAccountMapping] SET [NavsisionAccountName] = 'Direct Paid ALAE' WHERE [NavisionAccountNumber] = '51001425' AND [NavsisionAccountName] = 'Direct Loss Exp Paid System';
UPDATE [dbo].[NavisionAccountMapping] SET [NavsisionAccountName] = 'Assumed Paid Losses - 3rd Party' WHERE [NavisionAccountNumber] = '52003400' AND [NavsisionAccountName] = 'Assumed Losses Paid System';
UPDATE [dbo].[NavisionAccountMapping] SET [NavsisionAccountName] = 'Assumed Paid ALAE - 3rd Party' WHERE [NavisionAccountNumber] = '52003425' AND [NavsisionAccountName] = 'Assumed Loss Exp Paid System';
UPDATE [dbo].[NavisionAccountMapping] SET [NavsisionAccountName] = 'Assumed Paid Loss Involuntary - 3rd Party' WHERE [NavisionAccountNumber] = '52503400' AND [NavsisionAccountName] = 'Assumed Losses Paid Manual - Involuntary';
UPDATE [dbo].[NavisionAccountMapping] SET [NavsisionAccountName] = 'Assumed Paid ALAE Involuntary - 3rd Party' WHERE [NavisionAccountNumber] = '52503425' AND [NavsisionAccountName] = 'Assumed Loss Exp Paid Manual - Involuntary';
UPDATE [dbo].[NavisionAccountMapping] SET [NavsisionAccountName] = 'Ceded Paid Loss - 3rd Party' WHERE [NavisionAccountNumber] = '54005400' AND [NavsisionAccountName] = 'Ceded Losses Paid - Prov Write-Off';
UPDATE [dbo].[NavisionAccountMapping] SET [NavsisionAccountName] = 'Ceded Paid ALAE - 3rd Party' WHERE [NavisionAccountNumber] = '54005425' AND [NavsisionAccountName] = 'Ceded Loss Exp Paid Manual';
UPDATE [dbo].[NavisionAccountMapping] SET [NavsisionAccountName] = 'Provision for Uncollectible Reinsurance' WHERE [NavisionAccountNumber] = '86001000' AND [NavsisionAccountName] = 'Increase to Paid Prov - Opr Exp';
