<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IRuleEngineSoapEndpoint" />
                <binding name="BasicHttpBinding_IRuleEngineSoapEndpoint1" />
                <binding name="BasicHttpBinding_IRuleEngineSoapEndpoint2" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://rssewebdev:7853/RuleEngineEndpoint.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IRuleEngineSoapEndpoint"
                contract="rulesengine.IRuleEngineSoapEndpoint" name="BasicHttpBinding_IRuleEngineSoapEndpoint" />
            <endpoint address="http://localhost:14586/RuleEngineEndpoint.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IRuleEngineSoapEndpoint1"
                contract="rulesengine.IRuleEngineSoapEndpoint" name="BasicHttpBinding_IRuleEngineSoapEndpoint1" />
            <endpoint address="http://localhost:14586/RuleEngineEndpoint.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IRuleEngineSoapEndpoint2"
                contract="srRulesEngineLocal.IRuleEngineSoapEndpoint" name="BasicHttpBinding_IRuleEngineSoapEndpoint2" />
        </client>
    </system.serviceModel>
</configuration>