<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Link_GW_Docs.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
    </startup>
  <appSettings>
    <add key="SiteUrl" value="https://recordsqa.trg.com/sites/Guidewire"/>
    <add key="LibraryName" value="Work Matter Documents"/>
    <add key="GuidewireEndpoint" value="http://mangwqa:8080/cc/ws/riverstone/webservice/document/trg_UpdateMetadataAPI"/>
  </appSettings>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="trg_UpdateMetadataAPISoap11Binding"/>
      </basicHttpBinding>
      <customBinding>
        <binding name="trg_UpdateMetadataAPISoap12Binding">
          <textMessageEncoding messageVersion="Soap12"/>
          <httpTransport/>
        </binding>
      </customBinding>
    </bindings>
    <client>
      <endpoint address="http://mangwqa:8080/cc/ws/riverstone/webservice/document/trg_UpdateMetadataAPI" binding="customBinding" bindingConfiguration="trg_UpdateMetadataAPISoap12Binding" contract="GuidewireWS.trg_UpdateMetadataAPIPortType" name="trg_UpdateMetadataAPISoap12Port"/>
      <endpoint address="http://mangwqa:8080/cc/ws/riverstone/webservice/document/trg_UpdateMetadataAPI/soap11" binding="basicHttpBinding" bindingConfiguration="trg_UpdateMetadataAPISoap11Binding" contract="GuidewireWS.trg_UpdateMetadataAPIPortType" name="trg_UpdateMetadataAPISoap11Port"/>
    </client>
  </system.serviceModel>
  <applicationSettings>
    <Link_GW_Docs.Settings>
      <setting name="TimerInterval" serializeAs="String">
        <value>300000</value>
      </setting>
      <setting name="ServiceUsername" serializeAs="String">
        <value>trg\sp2013qaadmin</value>
      </setting>
      <setting name="ServicePassword" serializeAs="String">
        <value>SPQ^^dm1n</value>
      </setting>
      <setting name="LibrariesToProcess" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <string>Work Matter Documents</string>
            <string>ASI Guidewire</string>
          </ArrayOfString>
        </value>
      </setting>
      <setting name="DeleteFailures" serializeAs="String">
        <value>False</value>
      </setting>
    </Link_GW_Docs.Settings>
  </applicationSettings>
</configuration>
