<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="CashFlowDataImport.Configuration.Import" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <applicationSettings>
        <CashFlowDataImport.Configuration.Import>
            <setting name="whatIfMode" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="sourceExcelFilePath" serializeAs="String">
                <value>c:\temp\ALVINO.xlsx</value>
            </setting>
            <setting name="sqlServerName" serializeAs="String">
                <value>sqlTest2012r2</value>
            </setting>
            <setting name="sqlDatabaseName" serializeAs="String">
                <value>CashFlow</value>
            </setting>
            <setting name="sqlTableName" serializeAs="String">
                <value>data.CashFlowEntry</value>
            </setting>
            <setting name="excelWorksheetName" serializeAs="String">
                <value>Entry Data</value>
            </setting>
            <setting name="logFileLocation" serializeAs="String">
                <value>C:\temp\log.txt</value>
            </setting>
            <setting name="sqlNotificationsTableName" serializeAs="String">
                <value>data.Notifications</value>
            </setting>
        </CashFlowDataImport.Configuration.Import>
    </applicationSettings>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="clsScriptEngineSoap" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://rssewebdev:7773/ScriptEngine.asmx"
                binding="basicHttpBinding" bindingConfiguration="clsScriptEngineSoap"
                contract="rsseDEV.clsScriptEngineSoap" name="clsScriptEngineSoap" />
        </client>
    </system.serviceModel>
 </configuration>