<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="AcuitySharePointConduitService.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <applicationSettings>
        <AcuitySharePointConduitService.Properties.Settings>
            <setting name="SPSiteURL" serializeAs="String">
                <value>https://rivernetqa.trg.com/Demo</value>
            </setting>
            <setting name="AlertsListName" serializeAs="String">
                <value>RiverStone Alerts</value>
            </setting>
            <setting name="EventsListName" serializeAs="String">
                <value>RiverStone Events1</value>
            </setting>
            <setting name="TasksListName" serializeAs="String">
                <value>RiverStone Tasks</value>
            </setting>
            <setting name="EnableAlertMonitoring" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="EnableEventMonitoring" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="EnableTaskMonitoring" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="DataFilePath" serializeAs="String">
                <value>C:\Users\jmore\AcuityDataFiles</value>
            </setting>
            <setting name="AlertsFilenameMask" serializeAs="String">
                <value>alerts*.xml</value>
            </setting>
            <setting name="EventsFilenameMask" serializeAs="String">
                <value>events*.xml</value>
            </setting>
            <setting name="TasksFilenameMask" serializeAs="String">
                <value>tasks*.xml</value>
            </setting>
            <setting name="DefaultAlertExpiresInDays" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="DefaultTaskDueInDays" serializeAs="String">
                <value>7</value>
            </setting>
        </AcuitySharePointConduitService.Properties.Settings>
    </applicationSettings>
</configuration>