<h1 class="text-center pb-5">Work Intake Tool</h1>
<p class="h5 text-center">Welcome!</p>
<p class="h5 text-center pb-3">Please use this form to propose work to the Portfolio Manager.</p>
<p class="h5 text-center pb-3">Requests are reviewed by Product Owners for completeness and accuracy before being submitted to the Portfolio Manager and Digital Strategy.</p>
<p class="h5 text-center">Please continue to use Service Desk to report a bug or request IT Support.</p>
<p class="h5 text-center pb-5"><a href="https://rivernet2n.trg.com/sites/Operations/Documents/Work%20Intake%20Tool%20User%20Guide.docx?Web=1" target="_blank">Click here to view the user guide for the Work Intake Tool</a></p>
<p class="h5 text-center"><a routerLink="/work-requests/new">Create New Request</a></p>