<?xml version="1.0"?>
<configuration>

  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
    <add key="OpenTextApiUrl" value="http://mht04otw01.trg.com/otcs/cs.exe/api" />
    <add key="ApiUser" value="API"/>
    <add key="ApiPw" value="WuzUpD0c?!"/>
    <add key="RootNodeId" value="2000"/>
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.6.1" />
    <httpRuntime targetFramework="4.6.1" />
  </system.web>
  <system.serviceModel>
    <services>
      <service name="DocumentService.Service" behaviorConfiguration="ServiceBahavior">
        <!--Endpoint for WCF/Soap Messaging behavior-->
        <endpoint address ="soap"
                  binding ="basicHttpBinding"
                  contract="DocumentService.IService" />
        <!-- Endpoint for RESTful/Json Messaging behavior-->
        <endpoint address="rest"
                  binding ="webHttpBinding"
                  behaviorConfiguration="restBehavior"
                  contract="DocumentService.IService" />
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="ServiceBahavior">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
          <!-- To receive exception details in faults for debugging purposes, 
          set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
      </serviceBehaviors>
      <endpointBehaviors>
        <!-- Behavior for the REST endpoint -->
        <behavior name="restBehavior">
          <webHttp helpEnabled="true" />
        </behavior>
      </endpointBehaviors>
    </behaviors>

    <protocolMapping>
      <add binding="basicHttpsBinding" scheme="https" />
    </protocolMapping>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true" />
    <directoryBrowse enabled="false" />
  </system.webServer>
</configuration>