<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SharePointUtilitiesLibraryTests.UnitTest" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <SharePointUtilitiesLibraryTests.UnitTest>
            <setting name="testWebUrl" serializeAs="String">
                <value>https://rivernet2ndev.trg.com/sites/litman/Matters/LM000009999</value>
            </setting>
        </SharePointUtilitiesLibraryTests.UnitTest>
    </userSettings>
</configuration>