<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="UltiProConsole.Config" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <system.serviceModel>
    <bindings>
      <wsHttpBinding>
        <binding name="WSHttpBinding_ILoginService">
          <security mode="Transport">
            <transport clientCredentialType="None" />
          </security>
        </binding>
        <binding name="WSHttpBinding_ILoginService1">
          <security mode="None" />
        </binding>
        <binding name="WSHttpBinding_IEmployeeAddress">
          <security mode="Transport">
            <transport clientCredentialType="None" />
          </security>
        </binding>
        <binding name="WSHttpBinding_IEmployeeAddress1">
          <security mode="None" />
        </binding>
      </wsHttpBinding>
    </bindings>
    <client>
      <endpoint address="https://service4.ultipro.com/services/LoginService"
          binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_ILoginService"
          contract="LoginService.ILoginService" name="WSHttpBinding_ILoginService" />
      <endpoint address="https://service4.ultipro.com/services/EmployeeAddress"
          binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IEmployeeAddress"
          contract="EmployeeAddressService.IEmployeeAddress" name="WSHttpBinding_IEmployeeAddress" />
    </client>
  </system.serviceModel>
  <applicationSettings>
    <UltiProConsole.Config>
      <setting name="API_Username" serializeAs="String">
        <value>SharePoint</value>
      </setting>
      <setting name="API_Password" serializeAs="String">
        <value>SP@dm1N!</value>
      </setting>
      <setting name="API_UserKey" serializeAs="String">
        <value>BIJ3OP0000K0</value>
      </setting>
      <setting name="API_CustomerKey" serializeAs="String">
        <value>PSYFT</value>
      </setting>
    </UltiProConsole.Config>
  </applicationSettings>
</configuration>