<?xml version="1.0"?>

<!-- For more information on using Web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=301874 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">

  <connectionStrings>
    <add name="DBConnection"
      connectionString="Data Source=SQLDEV2012R2;Initial Catalog=DSWorkRequest;Integrated Security=true;"
      providerName="System.Data.SqlClient"
      xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
  </connectionStrings>
  <appSettings>
    <!--For AllowedOrigins, AllowedMethods and AllowedHeaders, enter a comma separated list of values, or '*' for all. -->
    <add key="AllowedOrigins" value="https://rivernet2ndev.trg.com,https://rivernetqa.trg.com,https://jeremy.dev,http://localhost:4200,http://rssewebdev:4200,https://rssewebdev.trg.com:4443,https://localhost:4200" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="AllowedMethods" value ="*" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="AllowedHeaders" value ="*" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
  </appSettings>
  <system.web>
    <!--
      In the example below, the "Replace" transform will replace the entire
      <customErrors> section of your Web.config file.
      Note that because there is only one customErrors section under the
      <system.web> node, there is no need to use the "xdt:Locator" attribute.

      <customErrors defaultRedirect="GenericError.htm"
        mode="RemoteOnly" xdt:Transform="Replace">
        <error statusCode="500" redirect="InternalError.htm" />
      </customErrors>
    -->
  </system.web>
</configuration>