<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.0"/>
    <httpRuntime/>
    <authorization>
      <deny users="?"/>
    </authorization>
  </system.web>
  <appSettings>
    <add key="ClientId" value="99744586-1672-4c3e-96fd-b6cfbad5848f"/>
    <add key="ClientSigningCertificateSerialNumber" value="00c933695e2acd4b58"/>
    <add key="IssuerId" value="5e9a5582-a3ef-41bc-ada8-67fba87ce421"/>
  </appSettings>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <!--Used by app for SharePoint-->
        <binding name="secureBinding">
          <security mode="Transport"/>
        </binding>
      </basicHttpBinding>
    </bindings>
    <protocolMapping>
      <add binding="basicHttpBinding" scheme="https" bindingConfiguration="secureBinding"/>
    </protocolMapping>
  </system.serviceModel>
  <system.webServer>
    <staticContent>
      <mimeMap fileExtension=".bat" mimeType="application/bat"/>
      <mimeMap fileExtension=".oft" mimeType="application/vnd.ms-outlook"/>
    </staticContent>
  </system.webServer>
</configuration>