<div class="pos-f-t fixed-top header">
  <nav class="navbar navbar-inverse bg-inverse navbar-toggleable-md">
    <button class="navbar-toggler navbar-toggler-right" (click)="toggleSidebar()">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" routerLink="/">Work Intake</a>
    <div class="collapse navbar-collapse">
      <ul class="navbar-nav ml-auto mt-2 mt-md-0">
        <!--<li class="nav-item hidden-lg-down">
          <a [routerLink]="['/blank-page']" class="nav-link mt-1" >Blank Page</a>
        </li>-->
      </ul>
    </div>
  </nav>
</div>