<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="LogSource" value="Cash Receipts JPG Rename"/>
    <add key="SharePointSiteUrl" value="https://recordsqa.trg.com/sites/Sapiens"/>
    <add key="LibraryName" value="Cash Receipt Documentation"/>
    <add key="TargetFileExtension" value="tif"/>
  </appSettings>
</configuration>