<?xml version="1.0" encoding="utf-8" ?>
<litigationTasks>
	<task>
		<description>Complete Litigation Checklist</description>
		<url>#</url>
		<daysuntildue>7</daysuntildue>
	</task>
	<task>
		<description>Call Opposing Counsel</description>
		<url>#</url>
		<daysuntildue>14</daysuntildue>
	</task>
	<task>
		<description>Answer Due Date</description>
		<url>#</url>
		<daysuntildue>7</daysuntildue>
	</task>
	<task>
		<description>Complete One Pager</description>
		<url>#</url>
		<daysuntildue>30</daysuntildue>
	</task>
	<task>
		<description>Litigation Plan From Counsel</description>
		<url>#</url>
		<daysuntildue>60</daysuntildue>
	</task>
	<task>
		<description>Litigation Budget</description>
    <url>#</url>
		<daysuntildue>90</daysuntildue>
	</task>
	<task>
		<description>Reserves</description>
		<url>#</url>
		<daysuntildue>90</daysuntildue>
	</task>
	<task>
		<description>Finalized Litigation Plan Due</description>
		<url>#</url>
		<daysuntildue>75</daysuntildue>
	</task>
</litigationTasks>



