<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="trg_UpdateMetadataAPISoap11Binding" closeTimeout="00:01:00"
                    openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
                    allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
                    maxBufferPoolSize="524288" maxBufferSize="65536" maxReceivedMessageSize="65536"
                    textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="false"
                    messageEncoding="Text">
                    <readerQuotas maxDepth="12" maxStringContentLength="8192" maxArrayLength="16384"
                        maxBytesPerRead="4096" maxNameTableCharCount="16384" />
                    <security mode="None">
                        <transport clientCredentialType="None" proxyCredentialType="None"
                            realm="" />
                        <message clientCredentialType="UserName" algorithmSuite="Default" />
                    </security>
                </binding>
                <binding name="basicBindingConfig">
                    <security mode="TransportCredentialOnly">
                        <transport clientCredentialType="None" />
                    </security>
                </binding>
            </basicHttpBinding>
            <customBinding>
                <binding name="trg_UpdateMetadataAPISoap12Binding">
                    <textMessageEncoding maxReadPoolSize="64" maxWritePoolSize="16"
                        messageVersion="Soap12" writeEncoding="utf-8">
                        <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
                            maxBytesPerRead="4096" maxNameTableCharCount="16384" />
                    </textMessageEncoding>
                    <httpTransport manualAddressing="false" maxBufferPoolSize="524288"
                        maxReceivedMessageSize="65536" allowCookies="false" authenticationScheme="Anonymous"
                        bypassProxyOnLocal="false" decompressionEnabled="true" hostNameComparisonMode="StrongWildcard"
                        keepAliveEnabled="true" maxBufferSize="65536" proxyAuthenticationScheme="Anonymous"
                        realm="" transferMode="Buffered" unsafeConnectionNtlmAuthentication="false"
                        useDefaultWebProxy="true" />
                </binding>
            </customBinding>
        </bindings>
        <client>
            <endpoint address="http://mangwqa:8080/cc/ws/riverstone/webservice/document/trg_UpdateMetadataAPI"
                binding="customBinding" bindingConfiguration="trg_UpdateMetadataAPISoap12Binding"
                contract="GuidewireWS.trg_UpdateMetadataAPIPortType" name="trg_UpdateMetadataAPISoap12Port" />
            <endpoint address="http://mangwqa:8080/cc/ws/riverstone/webservice/document/trg_UpdateMetadataAPI/soap11"
                binding="basicHttpBinding" bindingConfiguration="trg_UpdateMetadataAPISoap11Binding"
                contract="GuidewireWS.trg_UpdateMetadataAPIPortType" name="trg_UpdateMetadataAPISoap11Port" />
            <endpoint address="http://qanetsp01/GWBCS/Guidewire.svc/basic"
                binding="basicHttpBinding" bindingConfiguration="basicBindingConfig"
                contract="GWBCS.IGuidewire" name="basicBindingConfig" />
        </client>
    </system.serviceModel>
</configuration>